.container_nav {
  .point {
    width: 10px;
    height: 10px;
    background-color: #d9d9d9;
    border-radius: 50%;
    display: block;
    margin-bottom: 5px;
  }
  .point_black {
    width: 10px;
    height: 10px;
    background-color: #000000;
    border-radius: 50%;
    display: block;
    margin-bottom: 5px;
  }
}
